<!DOCTYPE html>
<html>
 <head>

   <link href="../Stylesheets/cgpabody.css" type="text/css" rel="stylesheet" />

  </head>
 <body>

    <form action="" method="POST" class="cgpa_form" id="cgpa_form" >
        <p class="describe" id="describe" >
           <i> Choose the number of semester you want to calculate CGPA for. </i> </h3>
        </p>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Two Semester
        </button> <br > 

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Three Semester
        </button> <br > 

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Four Semester
        </button> <br >

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Five Semester
        </button> <br >

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Six Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Seven Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Eight Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Nine Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Ten Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Eleven Semester
        </button> <br > 
        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Twelve Semester
        </button> <br > 
        
    </form>

 </body>
</html>