<!DOCTYPE html>
<html>
 <head>

   <link href="Stylesheets/cgpabody.css" type="text/css" rel="stylesheet" />

  </head>
 <body>

    <form action="" method="POST">

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Two Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Three Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Four Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Five Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Six Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Seven Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Eight Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Nine Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Ten Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Eleven Semester
        </button>

        <button type="button" href="" class="cgpa_btn" id="cgpa_btn" >
            Twelve Semester
        </button>
        
    </form>

 </body>
</html>