<!DOCTYPE html>
<html>
 <head>

   <link href="../Stylesheets/cgpabody.css" type="text/css" rel="stylesheet" />

  </head>
 <body>
    <h4 class="msg"> The CGPA CALCULATOR IS YET TO BE COMPLETED </h4> 

    <form action="" method="POST" class="cgpa_form" id="cgpa_form" >
        <p class="describe" id="describe" >
           <i> Choose the number of semester you want to calculate CGPA for. </i> </h3>
        </p>

        <button type="submit" href="CGPA/two.php" class="cgpa_btn" id="cgpa_btn" >
            Two Semester
        </button> <br > 

        <button type="submit" href="CGPA/three.php" class="cgpa_btn" id="cgpa_btn" >
            Three Semester
        </button> <br > 

        <button type="submit" href="CGPA/four.php" class="cgpa_btn" id="cgpa_btn" >
            Four Semester
        </button> <br >

        <button type="submit" href="CGPA/five.php" class="cgpa_btn" id="cgpa_btn" >
            Five Semester
        </button> <br >

        <button type="submit" href="CGPA/six.php" class="cgpa_btn" id="cgpa_btn" >
            Six Semester
        </button> <br > 
        <button type="submit" href="CGPA/seven.php" class="cgpa_btn" id="cgpa_btn" >
            Seven Semester
        </button> <br > 
        <button type="submit" href="CGPA/eight.php" class="cgpa_btn" id="cgpa_btn" >
            Eight Semester
        </button> <br > 
        <button type="submit" href="CGPA/nine.php" class="cgpa_btn" id="cgpa_btn" >
            Nine Semester
        </button> <br > 
        <button type="submit" href="CGPA/ten.php" class="cgpa_btn" id="cgpa_btn" >
            Ten Semester
        </button> <br > 
        <button type="submit" href="CGPA/eleven.php" class="cgpa_btn" id="cgpa_btn" >
            Eleven Semester
        </button> <br > 
        <button type="submit" href="CGPA/twelve.php" class="cgpa_btn" id="cgpa_btn" >
            Twelve Semester
        </button> <br > 
        
    </form>

 </body>
</html>