<!DOCTYPE html>
<html>

 <head>

   <link href="../Stylesheets/courses.css" type="text/css" rel="stylesheet" />

 </head>

 <body>

 <div class="" id="" >

  <div class="" id="" >

      <form action="" method="POST" class="" id="" >

        <span class="" id="" > 1 </span>

        <h6> Course Name </h6>
        <input type="text" class="" id="" name="coursename" />

        <h6> Course Unit </h6>
        <input type="number" class="" id="" name="courseunit" />

        <h6> Score </h6>
        <input type="number" class="" id="" name="coursescore" />

        <h6> Grade </h6>
        <input type="text" class="" id="" name="coursegrade" />

      </form>

  </div>

</div>

 </body>

</html>