<!DOCTYPE html>
<html>
 <head>

   <link href=".css" type="text/css" rel="stylesheet" />

   <script src=".js" >
    
   </script>

 </head>

 <body>
    <br />
    <form method="" action="" class="comment_form" id="comment_form" >
        
        <h4 class="form_names" > Name </h4>
        <input type="text" class="name_input" id="name_input" name="comment_name" placeholder="Enter your name" />

        <h4 class="form_names" > Email </h4>
        <input type="text" class="email_input" id="email_input" name="comment_email" placeholder="Enter your E-mail" />
        
        <h4 class="form_names" > Comment </h4>
        <textarea class="comment_input" id="comment_input" name="comment" cols="80" rows="30" > 
            Enter you comment here.
        </textarea>

    </form>

 </body>

</html>