* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cgpa_form {
  margin-top: 30px;
  margin-left: 20px;
}

.describe {
  margin-left: 10px;
  margin-bottom: 20px;
}

.cgpa_btn {
  height: 30px;
  width: 150px;
  margin: 10px;
  color: blue;
}

.cgpa_btn:hover {
  font-weight: bold;
}

.msg {
  display: flex;
  justify-content: center;
  color: red;
}