* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown_scale {
    margin: 10px;
    margin-left: 10px;
    width: 40px;
    margin-bottom: 60px;
    border-width: 1px;
}

.dropdown_course {
    margin: 10px;
    margin-left: 10px;
    width: 110px;
    margin-bottom: 164px;
    border-width: 1px;
}

h4 {
    margin: 0px;
    margin-left: 10px;
    color: blue;
}

.gpacalc {
    display: block;
    margin: 10px;
    margin-right: 150px;
    margin-top: 20px;
    float: right;
    color: blue;
    width: 70px;
    border-width: 1px;
}

.gpacalc:hover {
    font-weight: bold;   
}

