* {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comment_form {
    text-align: left;
    margin: 5px;
}

.name_input {
    margin: 10px;
}

.email_input {
    margin: 10px;
}

.comment_input {
    margin: 10px;
    padding-left: 3px;
}

.form_names {
    margin-left: 10px;
    color: blue;
}